<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>


	<div class="container">
		<div class="row">
			<h1>List Students</h1>
		</div>
		<div class="row">
			<div class="col-lg-3">
				 <a th:href="@{'/newAddStudent'}" class="btn btn-primary btn-sm mb-3">Add Student</a>
			</div>
		
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Student Name</th>
					<th>Student Email</th>
					<th>Student Mobile No</th>
					<th></th>
					<th></th>
					
				</tr>

			</thead>
			<tbody>
				<tr th:each="student: ${students}">
					<td th:text="${student.stdName}"></td>
					<td th:text="${student.stdEmail}"></td>
					<td th:text="${student.stdMobile}"></td>
					<td><a th:href="@{'/edit/' +${student.stdId}}" class="btn btn-primary btn-sm mb-2">Update</a></td>
					<td><a th:href="@{'/delete/' +${student.stdId}}" class="btn btn-danger btn-sm mb-2">Delete</a></td>

				</tr>
			</tbody>


		</table>

	</div>
</body>
</html>